
button {
  white-space: nowrap;
  padding: 0 3em;
  font-size: 1em;
  line-height: 3em;
  letter-spacing: -0.3px;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  border-radius: 2px;
  font-weight: 600;
  text-shadow: none;
}

.button-link {
  white-space: nowrap;
  padding: 0 3em;
  font-size: 1em;
  line-height: 3em;
  letter-spacing: -0.3px;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  border-radius: 2px;
  font-weight: 600;
  text-shadow: none;
}

.primary-button {
  background-color: #2196f3;
  color: #fff;
}

.primary-button-mobile {

}

.secondary-button-mobile {
  padding: 0 1.1em;
  line-height: 30px;
  font-size: 15px;
  background: #fff;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 4px 4px 10px -2px #045a9e;
}