.BasePage {
  padding: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

ul {
  list-style: none;
  text-decoration: none;
}

.form {
  display: inline-block;
  text-align: center;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid lightgrey;
}

.errorMessage {
  color: red;
  max-width: 260px;
  text-align: center;
  margin: 0 auto;
}